body {
    background-color: var(--colors-surface1);
    color: var(--colors-black);
    padding: 20px;
    margin: 0;

    width: calc(100% - 40px);

    font-family: var(--font-secondary);

    .body {
        width: 100%;
        height: calc(100vh - 100px);
    }

    img {filter: brightness(0%) invert(0);}

    /* ============================================= */
    /* ===== titles ===== */
    h1 {margin: 0;}

    /* ============================================= */
    /* ===== buttons ===== */
    button {cursor: pointer;}

    .icon-button {
        background: none;
        border: none;
        color: var(--colors-black);
        font-weight: bold;
        width: 70px;

        padding: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        z-index: 2;
        /* ===== icon ===== */
        img {width: 15px;}

        /* ===== elements ===== */
    }

    .blue-button {
        background: linear-gradient(
            180deg,
            var(--color-blue),
            var(--color-blue-dark)
        );
        border: none;
        color: var(--colors-surface1);
        font-weight: bold;
        padding: 5px 20px 5px 20px;
        height: calc(100% + 6px);

        border-radius: 8px;

        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;

        z-index: 2;
        /* ===== icon ===== */
        img {width: 15px;}

        /* ===== elements ===== */
    }

    /* ============================================= */
    /* ===== text ===== */
    .icon-label {
        background: none;
        border: none;
        color: var(--color-white);

        padding: 5px;
        text-transform: capitalize;

        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;
        
        /* ===== icon ===== */
        img {width: 25px;}

        /* ===== elements ===== */
    }
}