@import url("./../fonts/fonts.css");

:root {
  /* Colors */
  --colors-surface1: #ffffff;
  --colors-surface2: #EFEFEF;
  --colors-surface3: #F3F3F3;
  --colors-surface4: #C5C5C5;
  --colors-black: #323232;
  --color-blue: #3a7bd5;     
  --color-blue-dark: #2a5ca9; 

  /* Fonts */
  --font-primary: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-secondary: 'Roboto';
}
