@import url("design.css");
@import url("root.css");

/* ============================================= */
/* ===== header ===== */
header {
    width: 100%;
    height: 30px;

    margin: 0 0 20px 0;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    /* ===== logo ===== */
    img {
        width: 20px;
        border-radius: 100px;
    }

    /* ===== text ===== */
    label {font-size: 15px;}
    .slash {
        margin: 0 10px 0 10px;
        opacity: .5;
    }
    .name {margin-right: auto;}

    /* ===== toggle ===== */
    .toggle {
        background-color: var(--colors-surface3);
        padding: 3px;
        border-radius: 8px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        position: relative;

        .selected-button {
            background: var(--colors-surface1);
            width: calc(50% - 6px);
            height: calc(100% - 6px);
            border-radius: 5px;

            z-index: 1;
            position: absolute;
            left: 2.5%;
            top: 50%;
            transform: translate(0%, -50%);
            box-shadow: 0 0 10px var(--colors-surface4);   
            transition: all .3s;
        }
        .selected-button.active {
            transform: translate(107%, -50%);
        }
    }
}

/* ============================================= */
/* ===== code ===== */
.code-section {
    background: none;
    width: 100%;
    height: 100% !important;

    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;

    /* ===== right ===== */
    .right-section {
        background-color: var(--colors-surface3);
        border: 1px solid var(--colors-surface4);
        border-radius: 10px;
        width: 30%;
        height: fit-content;

        .hero {
            width: calc(100% - 40px);
            height: 187px;
            padding: 20px 20px 0 20px;

            font-weight: bold;
            z-index: 10;

            /* ===== source ===== */
            .open-source {
                background: #151515 !important;
                color: var(--colors-surface1);
                border: 1px solid var(--colors-surface4);
                border-radius: 10px;
                padding: 20px 20px;
                
                margin: 0 0 20px 0;
            }
            
            /* ===== button ===== */
            .button-section {
                width: 100%;
                height: fit-content;
                
                display: flex;
                justify-content: start;
                align-self: center;
                gap: 10px;
    
                button {
                    background: none;
                    border: none;
                    border-radius: 5px 5px 0 0;
    
                    height: 35px;
                    width: fit-content;
                    color: var(--colors-surface4);
                    font-weight: bold;
    
                    transition: all .1s;
                }
    
                .html-button.active,
                .css-button.active,
                .js-button.active {
                    background-color: var(--colors-surface1);
                    border-top: 1px solid var(--colors-surface4) !important;
                    border-left: 1px solid var(--colors-surface4) !important;
                    border-right: 1px solid var(--colors-surface4) !important;
                    color: var(--colors-black);
                    border-bottom: none !important;
                }
            }
            .button-section.active {
                display: none !important;
            }
        }
        .hero.active {
            display: none;
        }

        /* ===== code ===== */
        .code-editor-section {
            background-color: var(--colors-surface1);
            width: 100%;
            height: calc(79vh - 115px);

            margin: -17px 0 0 -1px;
            padding: 15px 0;
            border: 1px solid var(--colors-surface4);

            border-radius: 0 0 10px 10px;
            z-index: 5;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            /* ===== line number ===== */
            .line-numbers {
                user-select: none;
                text-align: right;
                font-size: 15px;
                height: 100%;
                overflow: hidden;
                padding: 10px;
            }

            /* ===== copy code ===== */
            .copy-code {
                position: absolute;
                background-color: var(--colors-surface1);
                border: 1px solid var(--colors-surface4);
                border-radius: 5px;

                top: 10px;
                right: 10px;

                transition: all .3s;
                /* ===== elements ===== */
                &:active     {
                    transform: scale(.9);
                }
            }

            /* ===== textarea ===== */
            textarea {
                background: none;
                color: var(--color-white);
                width: 100%;
                height: 100%;
                padding: 10px;

                font-size: 15px;

                border: none;
                outline: none;
                white-space: pre;
                overflow-x: auto;
                resize: none;

                scrollbar-width: none;
            }
        }
        .code-editor-section.active {
            display: none !important;
        }

        .info-section {
            background-color: var(--color-black-light);
            width: calc(100% - 40px);

            padding: 20px;
            border: 1px solid var(--color-gray-dark);

            border-radius: 0 0 10px 10px;

            display: none;
            justify-content: start;
            align-items: start;
            flex-direction: column;
            gap: 10px;
        }
        .info-section.active {
            display: flex;
        }
    }

    /* ===== left ===== */
    .left-section {
        width: 70% !important;
        border-radius: 10px;
        border: 1px solid var(--color-black);
        overflow: hidden;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;

            border: 1px solid var(--color-black);
            border-radius: 10px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .code-section {
        flex-direction: column;
        .right-section {
            width: 100% !important;
            height: 50% !important;
        }
        .left-section {
            width: 100% !important;
            height: 50% !important;
        }
    }
}