body {
    background-color: var(--white);
    width: 1000px;
    height: auto;

    padding: 0;
    margin: 0 auto;

    overflow-x: hidden;
}

.title-design {
    font-family: var(--title-font);
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.under-title-design {
    font-family: var(--under-title-font);
    font-size: 25px;
    opacity: .5;
    width: 60%;
    text-align: center;
    line-height: 25px;
}