body {
    background-color: var(--white);
    width: 1000px;
    height: auto;

    padding: 0;
    margin: 0 auto;

    overflow-x: hidden;
}

.title-design-1 {
    color: var(--black);
    font-family: var(--title-font);
    font-size: 100px;
    margin-bottom: 0;
    margin-top: 0;
}
.title-design-2 {
    color: var(--black);
    font-family: var(--title-font);
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    width: 600px;
}
.under-title-design {
    color: var(--black);
    font-family: var(--under-title-font);
    font-size: 25px;
    opacity: .5;
    width: 60%;
    text-align: center;
    line-height: 25px;
}
.text-design-1 {
    color: var(--black);
    font-family: var(--text-font);
    font-size: 25px;
}
.text-design-2 {
    color: var(--black);
    font-family: var(--text-font);
    font-size: 15px;
    width: 700px;
}
.code-text-design {
    color: var(--black);
    font-family: var(--under-title-font);
    font-size: 12px;
    font-weight: bold;
    opacity: .5;
}
.code-text-design-2 {
    color: var(--black);
    font-family: var(--under-title-font);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;

}
.side-text {
    font-size: 15px;
    font-family: var(--under-title-font);
    margin-left: 10px;
}
/* Text colors */
.blue-color {color: var(--dark-blue);}
.pink-color {color: var(--pink);}

/* Rank colors */
.rank-easy {color: green}
.rank-medium {color: orange}
.rank-hard {color: red}

.button-design-1 {
    background: none;
    color: var(--black);

    font-family: var(--text-font);
    font-size: 20px;
    padding: 5px 30px;
    width: fit-content;

    outline: none;
    border: 1px solid;
    border-radius: 100px;
}
.button-design-2 {
    background-color: var(--black);
    color: var(--white);

    font-family: var(--text-font);
    font-size: 20px;
    padding: 5px 30px;
    width: fit-content;

    outline: none;
    border: none;
    border-radius: 100px;
}

.hover-glitchy {
    transition: all 0.3s ease;
    cursor: pointer;
}

.hover-glitchy:hover {
    transform: scale(1.1);
    animation: glitch .3s ease forwards;
}
.hover-normal {
    transition: all 0.3s ease;
    cursor: pointer;
}
.hover-normal:hover {
    transform: scale(1.1);
}

@keyframes glitch {
    25% {
        transform: translateX(10px) translateY(2px);
    } 50% {
        transform: translateX(-15px) translateY(5px);
        padding: 5px 50px;
    } 80% {
        transform: translateY(-5px);
    }
}

section, footer {
    min-height: 200px;
    height: fit-content;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0 10px;
    position: relative;
}
footer {
    margin-top: 100px;
}

.side-frame-text {
    position: absolute;
    right: 94%;
    bottom: 100px;
    transform: rotate(-90deg);

    display: flex;
    justify-content: start;
    align-items: center;
    width: 200px;
}