:root {
    /* Text Fonts */
    --Mobile_TitleFont: 30px;
    --Mobile_UnderTitleFont: 10px;
    --Mobile_TextFont: 20px;
    --Mobile_SmallFont: 10px;
}

@media (max-width: 480px) {

    html {
        font-size: 14px;
    }
    
    body {
        overflow-x: hidden;
        padding: 20px;
        width: 90%;
    }

    section {
        min-height: 100vh;
        height: auto;
    }

    /* --------------------------------------------- */
    .ButtonDesign {
        width: 20%;
        height: 40px;
        margin: 5px 0;
    }

    .ButtonHoverDesign::after {
        height: 1px;
    }

    .TitleText {
        font-size: var(--Mobile_TitleFont);
        text-shadow: 0 0 3px var(--TextColor);
    }

    .UnderTitleText {
        font-size: var(--Mobile_UnderTitleFont);
        margin-top: -25px;
    }

    .InputButtonDesign {
        font-size: var(--SmallFont);
        padding: 10px;
    }

    .BackToTop {
        height: 0px;
        position: fixed;
        bottom: 10px;
    }

    .First header {
        z-index: 100;
        height: auto;
        width: 100%;
        flex-wrap: wrap;

        margin-bottom: -100px;
    }
    
    .First header img {
        width: 100%;
        transform: scale(0.5);
        margin: 0;
    }

    .First .TextFrames {
        width: 100%;
        height: 500px;
    }
    
    .PlanetShadow {
        height: 500px;
        width: 500px;
        top: 50%;
        left: -15%;
    }

    .Second {
        flex-direction: column;
    }

    .CardFrames {
        height: 100%;
        width: 100%;
    
        flex-direction: column;
    
        position: relative;
    }

    .CardFrames .Card {
        background-color: var(--TextColor);
        height: 300px;
        width: 100%;
    
        border-radius: 20px;
        transition: all 0.3s;
        margin: 10px;
    
    }

    .Third {
        flex-direction: column;
    }

    .Third .Cards {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .Third .TextCard {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .Third .Cards .TextCard:nth-child(even) {
        width: 100%;
    }

    .Third .TextCard:hover {
        transform: none;
    }

    .Fourth {
        position: relative;
    }

    .Fourth .Bubble {
        width: 150px;
        height: 150px;
        top: 10%;
        left: 20%;
    }
}
