.OpenAnimation_Header, .HeaderAnim_1, .HeaderAnim_2, .HeaderAnim_3, .HeaderAnim_4 {
    position: relative;
    opacity: 0;
}
.OpenAnimation_Header {animation: HeaderAnim_Open 1s forwards;}
.HeaderAnim_1 {animation: HeaderAnim_Open 2.1s forwards;}
.HeaderAnim_2 {animation: HeaderAnim_Open 1.7s forwards;}
.HeaderAnim_3 {animation: HeaderAnim_Open 1.9s forwards;}
.HeaderAnim_4 {animation: HeaderAnim_Open 2.4s forwards;}
@keyframes HeaderAnim_Open {
    from {
        opacity: 0;
        top: -100%;
    } to {
        top: 0;
        opacity: 1;
    }
}
.TitleMainAnim {
    animation: Main_OpenAnimation 1s forwards;
    position: relative;
    opacity: 0;
}
.TextMainAnim {
    animation: Main_OpenAnimation 1.2s forwards;
    position: relative;
    opacity: 0;
}
.ButtonMainAnim {
    animation: Main_OpenAnimation 0.9s forwards;
    position: relative;
    opacity: 0;
}
@keyframes Main_OpenAnimation {
    from {
        opacity: 0;
        left: -100%;
    } to {
        left: 0;
        opacity: 1;
    }
}
.PlanetMainAnim {
    animation: PlanetMain_OpenAnimation 0.9s forwards, Moving 10s infinite;
    opacity: 0;
}
@keyframes PlanetMain_OpenAnimation {
    from {
        opacity: 0;
        top: 150%;
    } to {
        top: 68%;
        opacity: 1;
    }
}

@keyframes Moving {
    0% {
        transform: translateY(0px);
    } 50% {
        transform: translateY(-300px) rotate(240);
    } 100% {
        transform: translateY(0px) rotate(360deg);
    }
}

#editor-container {
    animation: EditorAnim 1s forwards;
    position: absolute;
    top: 1500px;
    opacity: 0;
}
@keyframes EditorAnim {
    from {
        opacity: 0;
        top: 900px;
    } to {
        top: 0;
        opacity: 1;
    }
}