:root {
    /* Fonts */
    --title-font: "Orbitron";
    --under-title-font: "Poppins";
    --text-font: "Open Sans";

    /* Colors */
    --white: #F5F7FA;
    --black: #0A0A0A;
    --dark-blue: #3D56B2;
    --light-blue: #61DAFB;
    --pink: #ff64b4;


}
