/* Header */
header {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
header .text-frame {
    height: 0px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    gap: 10px;
    overflow: hidden;
}
header .text-frame img {width: 50px;}
header .text-frame .button-frame {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header h1 {
    position: relative; 
    width: 450px;  
    animation: typingtext steps(8) 1s infinite alternate-reverse;
    overflow: hidden;
}
header h1::before {
    content: "";
    background-color: var(--black);
    height: 100%;
    width: 9px;

    position: absolute;
    right: 0px;
    bottom: 0;
    opacity: 1;
    animation: typingdot steps(1) .5s infinite alternate;
}
@keyframes typingdot { 50% {opacity: 0;} }
@keyframes typingtext {
    from {
        width: 0px;
    } to {
        width: 500px;
    }
}
header .circles {
    background: url("/static/Img/Img/Circles.png") no-repeat center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
}
header .code-img {
    background: url("/static/Img/Img/code.png") no-repeat bottom;
    background-size: contain;
    height: 790px;
    width: 200%;

    position: absolute;
    left: -30%;
    bottom: -100%;
    z-index: -1;
    opacity: .8;

    transform: rotate3d(2, 3, -1, 30deg);
}
header .code-img::before {
    content: "";
    background: linear-gradient(
        90deg,
        rgba(245, 247, 250, 1),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 1)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
header .code-img::after {
    content: "";
    background: linear-gradient(
        200deg,
        rgba(245, 247, 250, 1),
        rgba(245, 247, 250, 0),
        rgb(245, 247, 250, 1)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
header .code-css-img {
    background: url("/static/Img/Img/code-css.png") no-repeat bottom;
    background-size: contain;
    height: 700px;
    width: 200%;

    position: absolute;
    left: -30%;
    bottom: 0%;
    z-index: -1;

    transform: rotate3d(2, 3, -1, 0deg) translateX(500px) translateY(-120px) translateZ(100px);
    filter: drop-shadow(0 0 0.75rem var(--black));
    z-index: 10;
}
header .code-menu-img {
    background: url("/static/Img/Img/code-menu.png") no-repeat bottom;
    background-size: contain;
    height: 700px;
    width: 200%;

    position: absolute;
    left: -90%;
    bottom: 0%;
    z-index: -1;

    transform: rotate3d(2, 3, -1, 0deg) translateX(-300px) translateY(200px) translateZ(100px);
    filter: drop-shadow(0 0 0.75rem var(--black));
    z-index: 10;
}

/* Section */
section > div {
    width: 100%;
    min-height: 40px;
    height: fit-content;
    position: relative;

    display: flex;
    align-items: end;

    padding: 5px 10px;
}
section::before {
    content: "";
    background: url("/static/Img/Img/lines-black.png");
    width: 30px;
    height: 100%;
    position: absolute;
    left: -30px;
    bottom: 0;
    opacity: .5;
    
    border-left: 1px solid rgba(10, 10, 10);
    border-right: 1px solid rgba(10, 10, 10);
    z-index: -2;
}
section::after {
    content: "";
    /* background: url("/static/Img/Img/lines-black.png"); */
    width: 30px;
    height: 100%;
    position: absolute;
    right: -30px;
    bottom: 0;
    opacity: .5;

    z-index: -2;
}
section > div::before {
    content: "";
    position: absolute;
    background: linear-gradient(
        90deg,
        rgba(10, 10, 10,0),
        rgba(10, 10, 10,.2),
        rgba(10, 10, 10,.2),
        rgba(10, 10, 10,0)
    );
    width: 200%;
    height: 1px;
    bottom: 0;
    left: -50%;
}