/* Header */
header {
    height: 80vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header .text-frame {
    height: 0px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    gap: 10px;
    overflow: hidden;

}
header .text-frame img {width: 50px;}
header .text-frame .button-frame {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header h1 {
    position: relative; 
    width: max-content;  
    animation: typingtext steps(8) 1s infinite alternate-reverse;
    overflow: hidden;
    padding: 0 10px;
}
header h1::before {
    content: "";
    background-color: var(--black);
    height: 100%;
    width: 9px;

    position: absolute;
    right: 0px;
    bottom: 0;
    opacity: 1;
    animation: typingdot steps(1) .5s infinite alternate;
}
@keyframes typingdot { 50% {opacity: 0;} }
/* @keyframes typingtext {
    from {
        width: 0;
    } to {
        width: 500px;
    }
} */
header .circles {
    background: url("/static/Img/Img/Circles.png") no-repeat center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
}
header .code-img {
    background: url("/static/Img/Img/code.png") no-repeat bottom;
    background-size: contain;
    height: 790px;
    width: 200%;

    position: absolute;
    left: -35%;
    bottom: -100%;
    z-index: -1;
    opacity: .8;

    transform: rotate3d(2, 3, -1, 30deg);
}
header .code-img::before {
    content: "";
    background: linear-gradient(
        90deg,
        rgba(245, 247, 250, 1),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 0),
        rgba(245, 247, 250, 1)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
header .code-img::after {
    content: "";
    background: linear-gradient(
        200deg,
        rgba(245, 247, 250, 1),
        rgba(245, 247, 250, 0),
        rgb(245, 247, 250, 1)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
header .code-css-img {
    background: url("/static/Img/Img/code-css.png") no-repeat bottom;
    background-size: contain;
    height: 700px;
    width: 200%;

    position: absolute;
    left: -30%;
    bottom: 0%;
    z-index: -1;

    transform: rotate3d(2, 3, -1, 0deg) translateX(500px) translateY(-120px) translateZ(100px);
    filter: drop-shadow(0 0 0.75rem var(--black));
    z-index: 10;
}
header .code-menu-img {
    background: url("/static/Img/Img/code-menu.png") no-repeat bottom;
    background-size: contain;
    height: 700px;
    width: 200%;

    position: absolute;
    left: -90%;
    bottom: 0%;
    z-index: -1;

    transform: rotate3d(2, 3, -1, 0deg) translateX(-300px) translateY(200px) translateZ(100px);
    filter: drop-shadow(0 0 0.75rem var(--black));
    z-index: 10;
}

/* Section */
section > div, footer > div {
    width: 100%;
    min-height: 40px;
    height: fit-content;
    position: relative;

    display: flex;
    align-items: end;

    padding: 0;
    /* padding: 5px 10px; */
}

section > div:empty,
footer > div:empty {
    min-height: 150px;
}

section::before, footer::before {
    content: "";
    background: url("/static/Img/Img/lines-black.png");
    width: 30px;
    height: 100%;
    position: absolute;
    left: -38px;
    bottom: 0;
    opacity: .1;
    
    border-left: 1px solid rgba(10, 10, 10);
    border-right: 1px solid rgba(10, 10, 10);
    z-index: -2;
}
section > div::before, footer > div::before {
    content: "";
    position: absolute;
    background: linear-gradient(
        90deg,
        rgba(10, 10, 10,0),
        rgba(10, 10, 10,.1),
        rgba(10, 10, 10,.1),
        rgba(10, 10, 10,0)
    );
    width: 200%;
    height: 1px;
    bottom: 0;
    left: -50%;
}
section .img-galery {
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto  auto;
    justify-content: center;
    align-items: center;
}
section .img-galery img {
    box-shadow: 0 0 10px var(--gray);
    width: 300px;
    margin: 20px;
}
section .cards-frame {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
}
section .cards-frame .card {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    height: 430px;
    width: 290px;
    position: relative;
    transition: all .3s;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 var(--gray);
}
section .cards-frame .card img {
    object-fit:scale-down;
    height: 68%;
    width: 100%;
}
.img-footer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 60px;
}
.img-footer img {
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.test {
    background-color: white;
    height: 97%;
    width: 200%;
    position: absolute;
    left: -50%;
    bottom: 0;
}

.image-frame {
    /* background-color: var(--gray); */
    margin-left: 0px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
.image-frame::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    /* background: url("/static/Img/Img/lines-black.png"); */
    height: 100%;
    width: 100%;
    opacity: .2;
    z-index: -1;
}
.image-frame img {
    box-shadow: 0 0 10px 0 var(--gray);
    border-radius: 20px;
    width: 100%;

    margin: 10px;
}
