<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Links -->
    <link rel="icon" type="x-icon" href="../static/Img/Logos/black-logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/refresh.css') }}">
    <!-- Link Module -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/module/header-menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/module/accodrion.css') }}">

    <title>Stellar Test</title>
</head>
<body>

    <!-- Header -->
    <header id="target-home" style="height: 400px;">
        <div class="header-frame" id="header-frame">
            <a href="/" id="header-button-1" style="order: 1;"><button>Home</button></a>
            <a href="/Test" id="header-button-1" style="order: 2;"><button>Programming Lenguages</button></a>
            <a href="/" id="header-button-1" style="order: 3;"><button>About</button></a>
        </div>

        <div class="text-frame">
            <code class="blue-color code-text-design-2">header</code>
            <h1 class="title-design-1">Lenguages</h1>
            <label class="under-title-design">Learn different programming languages with stellar.</label>
        </div>

        <div class="code-img">
            <div class="code-css-img"></div>
            <div class="code-menu-img"></div>
        </div>
    </header>
    
    {{ modules | safe }}

    <footer>
        <div><label class="code-text-design">text-base text-white</label></div>
        <div><h1 class="title-design-2">Get in Touch</h1></div>
        <div><label class="code-text-design">text-base text-white</label></div>
        <div><label class="text-design-2">Questions? Feedback? We're all ears. Contact us via email or GitHub and let us know how we can support your journey.</label></div>
        <div><label class="code-text-design">img-base img-4x2 img-object</label></div>
        <div class="img-footer">
            <a href="https://github.com/sharky-2" target="_blank"><img src="/static/Img/Img/github.webp" class="hover-normal"></a>
            <a href="https://mail.google.com/mail/?view=cm&to=blazmedvode@gmail.com" target="_blank"><img src="/static/Img/Img/gmail-icon.jpg" class="hover-normal"></a>
        </div>
        <code class="side-frame-text blue-color code-text-design-2">Footer</code>
    </footer>

    <script src="/static/script/header-menu.js"></script>
    <script src="/static/script/accordion.js"></script>
    <script src="/static/script/script.js"></script>
</body>
</html>