#accordion-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-right: 10px;
    gap: 10px;
}
#accordion-list .item {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    width: 280px;
    
    cursor: pointer;

    transition: all .3s;
}
#accordion-list .item .question {
    display: flex;
    justify-content: start;
    align-items: center;

    transition: all .3s;
}
#accordion-list .item .question .text {
    width: calc(100% - 10px);
}
#accordion-list .item .question .dropdown {
    width: max-content;
    transform: rotate(90deg);
    transition: all .3s;
}
#accordion-list .item .answer {
    overflow: hidden;
    max-height: 0;
    transition: all .3s;
}


/* On click */
#accordion-list .item.active {
    background-color: var(--white);
    color: var(--black);
}
#accordion-list .item.active .question {
    font-weight: bold;
    margin-bottom: 10px;
}
#accordion-list .item.active .question .dropdown {
    transform: rotate(270deg);
}
#accordion-list .item.active .answer {
    max-height: 100px;
}