#accordion-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}
#accordion-list .item {
    background: none;
    color: var(--black);
    padding: 20px;
    width: 100%;
    
    cursor: pointer;
    transition: all .3s;

    border-bottom: 1px solid rgb(10, 10, 10,.2);
}
#accordion-list .item:last-of-type {
    border: none;
}
#accordion-list .item .question {
    display: flex;
    justify-content: start;
    align-items: center;

    transition: all .3s;
}
#accordion-list .item .question .text {
    width: calc(100% - 10px);
}
#accordion-list .item .question .dropdown {
    width: max-content;
    transform: rotate(90deg);
    transition: all .3s;
}
#accordion-list .item .answer {
    overflow: hidden;
    max-height: 0;
    transition: all .3s;
}


/* On click */
#accordion-list .item.active {
    background-color: var(--white);
    color: var(--black);
}
#accordion-list .item.active .question {
    font-weight: bold;
    margin-bottom: 10px;
}
#accordion-list .item.active .question .dropdown {
    transform: rotate(270deg);
}
#accordion-list .item.active .answer {
    max-height: 100px;
}